@font-face {
   font-family: 'Winner Sans Cond Regular';
   font-display: swap;
   src: url('file:///C:/Users/MKT13/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-09-18_111226/fonts/Winner%20Sans%20Cond%20Regular/font.ttf');
}
