@font-face {
   font-family: 'Inversionz Unboxed';
   font-display: swap;
   src: url('file:///C:/Users/MKT13/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-09-18_111226/fonts/Inversionz%20Unboxed/font.ttf');
}
